body {
	background-color: grey;
}

.container {
	width: 600px;
	margin: 50px auto 0 auto;
	text-align: center;
}

.hide {
	display: none;
}

h2 {
  margin-top: 20px;
  font-family: 'Lobster';
  font-size: 50px;
  margin-bottom: 40px;
}

input {
  height: 50px;
  width: 200px;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
}